html, body, .container { 
    height: 100%;
}

#map_canvas {
	height: 300px;
	margin-bottom: 25px; 
}

.map {
	margin-top: 25px;
}

textarea {
	display: block;
}

body {
	margin-bottom: 200px;
}

hr {
	width: 80%;
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 5px;
}

img {
	height: 240px;
	width: 100%;
}

.submit {
	display: inline;
}

#add-button {
	margin-bottom: 80px;
    margin-left: 15px;
}

table.tableSection {
    display: table;
    width: 100%;
}

table.tableSection thead,
table.tableSection tbody {
    width: 100%;
}

table.tableSection thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 16px); /* assuming scrollbar width as 16px */
}

table.tableSection tbody {
    overflow: auto;
    height: 260px;
    display: block;
}

table.tableSection tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#plan_label {
    margin-left: 20px;
}

tr > th > input {
    width: 106px;
}