html, body, .plan_detail { 
    height: 100%;
}

#map_canvas {
	height: 300px;
	margin-bottom: 25px; 
}

.map {
	margin-top: 25px;
}

textarea {
	display: block;
}

body {
	margin-bottom: 200px;
}

hr {
	width: 80%;
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 5px;
}

img {
	height: 240px;
	width: 100%;
}

table.tableSection {
    display: table;
    width: 100%;
}

table.tableSection thead,
table.tableSection tbody {
    width: 100%;
}

table.tableSection thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 16px); /* assuming scrollbar width as 16px */
}

table.tableSection tbody {
    overflow: auto;
    height: 260px;
    display: block;
}

table.tableSection tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

tr > th > input {
    width: 106px;
}

.avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

input {
    margin-left: 5px;
    line-height: 1.5em;
    width: 70%;
}

.btn {
    display: inline;
    width: 120px;
}

.member {
    margin-top: 25px;
}

.member-list {
    border-left: 1px solid black;
    height: 100%;
}

.kick {
    width: 70px;
}

.comment {
    height: 40px;
}

.user_comment {
    margin: 20px 0; 
}

#comment_box {
    margin-bottom: 100px;
}

.reply {
    cursor: pointer;
    color: blue;
}

.reply:hover {
    text-decoration: underline;
}

div.comment-layout{
    width: 980px;
}


div.comment-layout div.show-comment div.comment a{
    float: left;
}

div.comment-layout div.show-comment div.comment div.avatar-user{
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 25px;
    float: left;
}
div.comment-layout div.show-comment div.comment div.right div.comment-and-name{
    width: 930px;
    height: 30px;
    padding-top: 10px;
    float: left;
    float: left: ;
    /* margin-left: 60px; */
}

div.comment-layout div.show-comment div.comment div.right div.comment-and-name a{
    float: left;
    padding-bottom: 0;
}

div.comment-layout div.show-comment div.comment div.right div.comment-and-name p{
    float: left;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 0px;
}

div.comment-layout div.show-comment div.comment div.right div.show-sub-comment{
    width: 900px;
    float: left;
    margin-top:  0;
    padding-left: 20px;
}

div.comment-layout div.input-comment {
    margin-top:  10px;
}
div.comment-layout div.input-comment div.avatar-user{
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 20px;
    float: left;
    display: inline-block;
}

div.comment-layout div.input-comment div.input{
    display: inline-block;
    width: 900px
}
div.sub-comment{

}


div.sub-comment div.content-comment>div>a.user-name>p{
    margin-left: 20px;
    float: left;
}

div.sub-comment div.content-comment div>p{
    float: left;
    margin-left: 20px;
}

div.sub-comment{
    height: 60px;
    width: 930px;
    margin-top: 0px;
    padding-top: 0;
    margin-left: 70px;
    display: block;
    float: left;
}

div.comment{
    display: block;
}